<div (window:resize)="onResize()" class="wrapper">
  <div class="table-container" #tableContainer></div>
  <div class="players-overlay" *ngIf="!loading && isWaitingForPlayers()">
    <h2>Players:</h2>
    <div class="player-list">
      <div *ngFor="let playerState of game?.playerStates">
        {{ playerState.username }}
        <span *ngIf="playerState.userId == game?.hostUserId">(host)</span>
      </div>
    </div>
    <button
      *ngIf="canJoin()"
      mat-button
      mat-flat-button
      color="primary"
      (click)="join()"
    >
      Join
    </button>
    <button
      *ngIf="canStartRound()"
      mat-button
      mat-flat-button
      color="primary"
      (click)="startRound()"
    >
      Start Round
    </button>
    <div class="info" *ngIf="couldJoinOrPlayIfLoggedIn()">
      Login/register to join/play
    </div>
  </div>
  <div class="actions-overlay" *ngIf="!loading && !isWaitingForPlayers()">
    <button mat-button mat-flat-button color="primary" (click)="viewScores()">
      View Scores
    </button>
    <button
      *ngIf="canCallYaniv()"
      mat-button
      mat-flat-button
      color="primary"
      (click)="callYaniv()"
    >
      Call Yaniv
    </button>
    <button
      *ngIf="canStartRound()"
      mat-button
      mat-flat-button
      color="primary"
      (click)="startRound()"
    >
      Start Round
    </button>
  </div>
</div>
