.wrapper
  height 100%
  width 100%
  display flex
  justify-content space-between
  min-width 800px
  min-height 600px
  position relative

.table-container
  height 100%
  width 100%

.players-overlay, .actions-overlay
  position absolute
  padding 10px

  .players, .player-list
    margin-bottom 20px

  button 
    display block
    margin-bottom 10px

.info
  font-style italic