.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.table-container {
  height: 100%;
  width: 100%;
}

.players-overlay,
.actions-overlay {
  position: absolute;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;

  .players,
  .player-list {
    margin-bottom: 20px;
  }

  button {
    display: block;
    margin-bottom: 10px;
  }

  .top-left {
    position: absolute;
  }

  .top-right {
    position: absolute;
    right: 10px;
  }

  .bottom-right {
    position: absolute;
    bottom: calc(-100vh + 64px + 25px);
    right: 10px;
  }
}

.info {
  font-style: italic;
}
