.container
  display  flex

.form
  margin-right 40px

.mat-form-field
  display block
  width 200px

.mat-checkbox
  display block
  padding-bottom 1.25em

.board-preview-wrapper
  .title
    margin-bottom 10px

  .container
    width 400px
    height 400px
    border 1px solid black