<h1>
  {{ isUpdatingExistingVariant() ? 'Edit Variant' : 'New Variant' }}
</h1>

<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div class="container">
  <div class="form">
    <mat-form-field>
      <mat-label>Board Type</mat-label>
      <mat-select [formControl]="controls.boardType">
        <mat-option *ngFor="let option of boardTypeOptions" [value]="option.value">
          {{option.name}}
        </mat-option>
      </mat-select>
      <mat-error>{{ controls.boardType.getError('invalid') }}</mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="isBoardTypeHexagonal()"> 
      <mat-label>Board Size</mat-label>
      <input matInput type="number" [formControl]="controls.boardSize">
      <mat-error>{{ controls.boardSize.getError('invalid') }}</mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="isBoardTypeSquare()"> 
      <mat-label>Board Rows</mat-label>
      <input matInput type="number" [formControl]="controls.boardRows">
      <mat-error>{{ controls.boardRows.getError('invalid') }}</mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="isBoardTypeSquare()"> 
      <mat-label>Board Columns</mat-label>
      <input matInput type="number" [formControl]="controls.boardColumns">
      <mat-error>{{ controls.boardColumns.getError('invalid') }}</mat-error>
    </mat-form-field>
    <mat-checkbox [formControl]="controls.pieceRanks">Piece ranks</mat-checkbox>
    <mat-form-field *ngIf="hasPieceRanks()"> 
      <mat-label>Support Type</mat-label>
      <mat-select [formControl]="controls.supportType">
        <mat-option *ngFor="let option of supportTypeOptions" [value]="option.value">
          {{option.name}}
        </mat-option>
      </mat-select>
      <mat-error>{{ controls.supportType.getError('invalid') }}</mat-error>
    </mat-form-field>
  </div>
  <div class="board-preview-wrapper">
    <div class="title">Board Preview</div>
    <div class="container" #boardContainer></div>
  </div>
</div>

<div class="button-container">
  <button mat-button mat-flat-button color="primary" (click)="submit()">Submit</button>
  <button mat-button mat-dialog-close (click)="goToVariants()">Cancel</button>
</div>