.field-container
  width 400px
  margin-bottom 20px

  table
    width 100%

  .mat-column-label
    padding-right 20px

.piece-rules-container, .terrain-rules-container
  margin-bottom 20px
  
  table
    width 100%

.table-header 
  display flex
  font-size 20px
  align-items center
  margin-bottom 20px

  button
    margin-left: 10px