<mat-toolbar>
  <span>Cyvasse</span>

  <div class="right">
    <div class="loading" *ngIf="loading; else actions">
      <mat-spinner></mat-spinner>
    </div>
    <ng-template #actions>
      <div class="user-actions" *ngIf="user; else noUser">
        <span>{{ user.username }}</span>
        <a mat-button (click)="logout()">Logout</a>
      </div>
      <ng-template #noUser>
        <div class="no-user-actions">
          <a mat-button (click)="showUserLoginForm()">Login</a>
          <a mat-button (click)="showUserRegisterForm()">Register</a> 
        </div>
      </ng-template>
    </ng-template>
  </div>
</mat-toolbar>