<div (window:resize)="onResize()" class="wrapper">
  <div class="table-container" #tableContainer></div>
  <div class="players-overlay" *ngIf="!loading && isWaitingForPlayers()">
    <h2>Players:</h2>
    <div class="player-list">
      <div *ngFor="let playerState of game?.playerStates">
        {{ playerState.displayName }}
        <span *ngIf="playerState.userId == game?.hostUserId">(host)</span>
      </div>
    </div>
    <button
      *ngIf="canJoin()"
      mat-button
      mat-flat-button
      color="primary"
      (click)="join()"
    >
      Join
    </button>
    <button
      *ngIf="canStartRound()"
      mat-button
      mat-flat-button
      color="primary"
      (click)="startRound()"
    >
      Start Round
    </button>
    <button
      *ngIf="canAbortGame()"
      mat-button
      mat-flat-button
      color="warn"
      (click)="confirmAbortGame()"
    >
      Abort game
    </button>
    <div class="info" *ngIf="couldJoinOrPlayIfLoggedIn()">
      Login/register to join/play
    </div>
  </div>
  <ng-container *ngIf="!loading && !isWaitingForPlayers()">
    <div class="actions-overlay top-left">
      <button mat-button mat-stroked-button (click)="viewScores()">
        View Scores
      </button>
      <button
        *ngIf="canStartRound()"
        mat-button
        mat-flat-button
        color="primary"
        (click)="startRound()"
      >
        Start Round
      </button>
      <button
        *ngIf="canStartNewGame()"
        mat-button
        mat-flat-button
        color="primary"
        (click)="startNewGame()"
      >
        Start new game
      </button>
      <button
        *ngIf="canJoinNewGame()"
        mat-button
        mat-flat-button
        color="primary"
        (click)="joinNewGame()"
      >
        Join new game
      </button>
    </div>
    <div class="actions-overlay top-right">
      <button
        *ngIf="canAbortGame()"
        mat-button
        mat-flat-button
        color="warn"
        (click)="confirmAbortGame()"
      >
        Abort game
      </button>
      <button
        *ngIf="canBeDoneWithTurn()"
        mat-button
        mat-flat-button
        color="primary"
        (click)="doneWithTurn()"
        matTooltip="Draw tile or submit sets change"
      >
        Done with turn
      </button>
    </div>
    <div class="actions-overlay bottom-right">
      <app-chat [chatId]="getChatId()" [user]="user"></app-chat>
    </div>
  </ng-container>
</div>
