$total-color: #a2a0a0;

.message {
  font-size: 20px;
  color: #6395ee;
  margin: 20px 0;
}

table {
  width: 100%;

  tr {
    height: 30px;
  }

  th,
  td {
    text-align: center;
    padding: 10px;
    font-size: 16px;
  }

  tr:last-child td {
    background-color: $total-color;
  }
}
