docker_base: &DOCKER_BASE
  auth:
    username: charlesrudolph
    password: $DOCKER_HUB_TOKEN

version: 2.1

orbs:
  browser-tools: circleci/browser-tools@1.4.8

jobs:
  build:
    docker:
      - image: cimg/node:16.15-browsers
        <<: *DOCKER_BASE
      - image: cimg/postgres:14.13
        <<: *DOCKER_BASE
        environment:
          - POSTGRES_USER=chily-user
          - POSTGRES_PASSWORD=test
      - image: cimg/redis:7.0.5
        <<: *DOCKER_BASE
    steps:
      - browser-tools/install-browser-tools
      - checkout
      - restore_cache:
          key: dependencies-root-{{ checksum "yarn.lock" }}
      - restore_cache:
          key: dependencies-api-{{ checksum "api/yarn.lock" }}
      - restore_cache:
          key: dependencies-frontend-{{ checksum "frontend/yarn.lock" }}
      - run: yarn install --frozen-lockfile
      - run: cd api && yarn install --frozen-lockfile
      - run: cd frontend && yarn install --frozen-lockfile
      - save_cache:
          paths:
            - node_modules
          key: dependencies-root-{{ checksum "yarn.lock" }}
      - save_cache:
          paths:
            - api/node_modules
          key: dependencies-api-{{ checksum "api/yarn.lock" }}
      - save_cache:
          paths:
            - frontend/node_modules
          key: dependencies-frontend-{{ checksum "frontend/yarn.lock" }}
      - run: make copy-shared
      - run: yarn lint
      - run: yarn prettier --check
      - run: cd api && yarn build
      - run: cd api && yarn create-databases && yarn test
      - run: cd frontend && yarn test
      - setup_remote_docker
      - run: docker build .