.wrapper
  height 100%
  width 100%
  display flex
  justify-content space-between
  min-width 800px
  min-height 600px
  position relative

.table-container
  height 100%
  width 100%

.players-overlay, .left-actions-overlay, .right-actions-overlay, .bet-overlay
  position absolute

.players-overlay, .left-actions-overlay, .right-actions-overlay
  top 20px

  button
    display block
    margin-bottom 10px

.players-overlay, .left-actions-overlay
  left 20px

.right-actions-overlay
  right 10px

.bet-overlay
  top calc(50% - 20px)
  left calc(50% - 70px)

  .mat-form-field
    width 50px
    margin-right 10px

.info
  font-style italic