<h1>
  {{
    isUpdatingExistingTerrainRule() ? "Edit Terrain Rule" : "New Terrain Rule"
  }}
</h1>

<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div class="container">
  <div class="form">
    <mat-form-field>
      <mat-label>Terrain Type</mat-label>
      <mat-select [formControl]="controls.terrainTypeId">
        <mat-option
          *ngFor="let option of terrainTypeOptions"
          [value]="option.value"
        >
          {{ option.label }}
        </mat-option>
      </mat-select>
      <mat-error>{{ controls.terrainTypeId.getError("invalid") }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Count</mat-label>
      <input matInput type="number" [formControl]="controls.count" />
      <mat-error>{{ controls.count.getError("invalid") }}</mat-error>
    </mat-form-field>
    <div *ngFor="let effect of terrainEffects">
      <mat-form-field>
        <mat-label>{{ effect.label }} for</mat-label>
        <mat-select [formControl]="controls[effect.key].for">
          <mat-option
            *ngFor="let option of piecesEffectedTypeOptions"
            [value]="option.value"
          >
            {{ option.label }}
          </mat-option>
        </mat-select>
        <mat-error>{{
          controls[effect.key].for.getError("invalid")
        }}</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="shouldShowPieceTypesInput(effect.key)">
        <mat-label>{{ effect.label }} piece types</mat-label>
        <mat-select [formControl]="controls[effect.key].pieceTypeIds" multiple>
          <mat-option
            *ngFor="let option of pieceTypeOptions"
            [value]="option.value"
          >
            {{ option.label }}
          </mat-option>
        </mat-select>
        <mat-error>{{
          controls[effect.key].pieceTypeIds.getError("invalid")
        }}</mat-error>
      </mat-form-field>
      <mat-form-field
        *ngIf="
          effect.key === 'slowsMovement' &&
          doesEffectApplyToSomePieces(effect.key)
        "
      >
        <mat-label>{{ effect.label }} by</mat-label>
        <input
          matInput
          type="number"
          [formControl]="controls.slowsMovement.by"
        />
        <mat-error>{{
          controls.slowsMovement.by.getError("invalid")
        }}</mat-error>
      </mat-form-field>
    </div>
  </div>
</div>

<div class="button-container">
  <button mat-button mat-flat-button color="primary" (click)="submit()">
    Submit
  </button>
  <button mat-button mat-dialog-close (click)="goToVariant()">Cancel</button>
</div>
