<div mat-dialog-title>New "Rummikub" Game</div>
<mat-dialog-content>
  <div>
    <!-- <mat-checkbox [formControl]="controls.displayPlayerTileCounts">
      Display player tile count
    </mat-checkbox> -->

    <div>Score system:</div>
    <mat-radio-group
      class="score-system-radio-group"
      [formControl]="controls.scoreSystem"
    >
      <mat-radio-button [value]="'low_score'">
        <div class="score-system-option">
          <span>Low score</span>
          <mat-icon
            matTooltip="Winner gets zero, others get positive value of tiles in their hand"
          >
            info
          </mat-icon>
        </div>
      </mat-radio-button>
      <mat-radio-button [value]="'high_score_zero_sum'">
        <div class="score-system-option">
          <span>High score, zero sum</span>
          <mat-icon
            matTooltip="Winner gets sum of positive value of tiles in all other hands, others get negative value of tiles in their hand"
          >
            info
          </mat-icon>
        </div>
      </mat-radio-button>
    </mat-radio-group>

    <mat-form-field class="score-threshold-field" appearance="outline">
      <mat-label>Score threshold:</mat-label>
      <input matInput type="number" [formControl]="controls.scoreThreshold" />
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="null">Cancel</button>
  <button
    mat-button
    mat-flat-button
    color="primary"
    (click)="create()"
    cdkFocusInitial
  >
    Create
  </button>
</mat-dialog-actions>
