<div>
  <h1>Welcome! The following games are available to play:</h1>
  <hr />

  <div class="game">
    <h2>Yaniv</h2>
    <p>
      A card game where you are trying to get the lowest amount of points.
      <br />
      Once you have less than 7 points, you can call Yaniv. <br />
      However if another player has a lower score you recieve a penalty.
    </p>
    <a mat-button mat-stroked-button routerLink="/yaniv/games">Games</a>
  </div>

  <hr />

  <div class="game">
    <h2>Oh Heck</h2>
    <p>
      A card game where you bet the number of tricks you'll take and get points
      if you match your bet.
      <br />
      For each trick, one player leads with a card and others must follow suit
      if possible, otherwise can play anything. <br />
      Highest card of the original suit wins unless any spades are present in
      which case the highest spade wins. <br />
      Match your bet to earn five points plus you bet. Otherwise you get 0
      points for the round.
      <br />
      Play 7 or 14 rounds where the number of cards you start with each round
      changes.
    </p>
    <a mat-button mat-stroked-button routerLink="/oh-heck/games">Games</a>
  </div>

  <hr />

  <div class="game">
    <h2>Rummikub</h2>
    <p>
      A tile based game where you create sets. A set is a group of the same
      number with different colors or a run of sequential numbers of the same
      color. Your initial play must be at least 30 points and cannot modify
      existing sets. For all later plays, you may rearrange sets on the board in
      order to play tiles.
    </p>
    <a mat-button mat-stroked-button routerLink="/rummikub/games">Games</a>
  </div>

  <!-- <div class="game">
    <h2>Cyvasse (Work in progress)</h2>
    <p>
      Based on the board game described in "Game in Thrones", a combination of
      chess, Stratego and Risk. <br />
      You can create a variant, which defines the board, the pieces and how they
      interact. <br />
      Then issue a challenge to find an opponent and play.
    </p>
    <a mat-button mat-stroked-button routerLink="/cyvasse/variants">Variants</a>
    <a mat-button mat-stroked-button routerLink="/cyvasse/challenges"
      >Challenges</a
    >
    <a mat-button mat-stroked-button routerLink="/cyvasse/games">Games</a>
  </div> -->
</div>
