<div>
  <h1>Welcome! The following games are available to play:</h1>

  <hr/>

  <div class="game">
    <h2>Yaniv</h2>
    <p>
      A card game where you are trying to get the lowest amount of points. <br/>
      Once you have less than 7 points, you can call Yaniv. <br/>
      However if another player has a lower score you recieve a penalty.
    </p>
    <a mat-button mat-stroked-button routerLink="/yaniv/games">Games</a>
  </div>

  <hr/>
  
  <div class="game">
    <h2>Cyvasse (Work in progress)</h2>
    <p>
      Based on the board game described in "Game in Thrones", a combination of chess, Stratego and Risk. <br/>
      You can create a variant, which defines the board, the pieces and how they interact. <br/>
      Then issue a challenge to find an opponent and play.
    </p>
    <a mat-button mat-stroked-button routerLink="/cyvasse/variants">Variants</a>
    <a mat-button mat-stroked-button routerLink="/cyvasse/challenges">Challenges</a>
    <a mat-button mat-stroked-button routerLink="/cyvasse/games">Games</a>
  </div>
</div>

