- back ||= nil
- forward ||= nil

.navigation
  - if back
    .back-link
      <
      = render 'shared/navigation_link', info: back

  - if forward
    .forward-link
      = render 'shared/navigation_link', info: forward
      >