= content_for :modal do
  .modal#preview
    .modal-dialog
      .modal-content
        .modal-header
          %button.close(type='button' data-dismiss='modal') ×
          .title Preview
        .modal-body
          .board