= content_for :navigation do
  = render 'shared/navigation', back: {name: 'Home', href: '/'}

%section.centered.creator
  .title Creator Policies
  .description
    Policies around the ability to create variants. Think one of these should change? Please discuss
    = link_to "here", Discussion.find_by(title: 'Creator Policies')

  .policy
    .text
      Users cannot create ther own variant of cyvasse be default.
    %ul.reasons
      %li Allows us to focus on improving the existing variants.
      %li Gives us consistency and stops us from keeping too many ideas in our head at once.

  .policy
    .text
      Creators can only create one variant.
    %ul.reasons
      %li See above. Open to increasing this if needed.

  .policy
    .text
      Any user can request to become a creator.
    %ul.reasons
      %li The variants do have to come from somewhere.

  .status
    - if signed_in?
      - if current_user.creator
        %em You are already a creator.
      - elsif current_user.requested_creator
        %em You have requested to become a creator. You will be contacted shortly.
      - else
        = link_to "Request to become a creator", :request_creator, method: :put
    - else
      %em Sign in or sign up in order to request to become a creator.
