%section.home.index
  %section.top
    .left
      = image_tag @dragon_image_src

    .center
      .name Cyvasse Explorer
      .mission
        An online community forum to create and play variants of Cyvasse.

    .right
      = image_tag @dragon_image_src

  %section.bottom
    %ul
      %li
        .title Explore
        .subtitle
          Explore quotes from A Song of Ice and Fire and join the discussion around their meaning.

      %li
        .title Create
        .subtitle
          Build your own variant by specifing the board, pieces, and how they interact.

      %li
        .title Play
        .subtitle
          Play variants created by community, online, in real time.
