mat-form-field, .registration-type-field
  display block
  width 400px
  margin-bottom 10px

.registration-type-radio-group
  display flex
  flex-direction column

.registration-type-option
  display flex
  align-items center

  .mat-icon
    margin-left 5px