<h1>
  {{ isUpdatingExistingPieceRule() ? 'Edit Piece Rule' : 'New Piece Rule' }}
</h1>

<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div class="container">
  <div class="form">
    <mat-form-field>
      <mat-label>Piece Type</mat-label>
      <mat-select [formControl]="controls.pieceTypeId">
        <mat-option *ngFor="let option of pieceTypeOptions" [value]="option.value">
          {{option.label}}
        </mat-option>
      </mat-select>
      <mat-error>{{ controls.pieceTypeId.getError('invalid') }}</mat-error>
    </mat-form-field>
    <mat-form-field> 
      <mat-label>Count</mat-label>
      <input matInput type="number" [formControl]="controls.count">
      <mat-error>{{ controls.count.getError('invalid') }}</mat-error>
    </mat-form-field>
    <mat-form-field> 
      <mat-label>Movement Type</mat-label>
      <mat-select [formControl]="controls.movementType">
        <mat-option *ngFor="let option of movementTypeOptions" [value]="option.value">
          {{option.label}}
        </mat-option>
      </mat-select>
      <mat-error>{{ controls.movementType.getError('invalid') }}</mat-error>
    </mat-form-field>
    <mat-form-field> 
      <mat-label>Movement Minimum</mat-label>
      <input matInput type="number" [formControl]="controls.movementMinimum">
      <mat-error>{{ controls.movementMinimum.getError('invalid') }}</mat-error>
    </mat-form-field>
    <mat-form-field> 
      <mat-label>Movement Maximum</mat-label>
      <input matInput type="number" [formControl]="controls.movementMaximum">
      <mat-error>{{ controls.movementMaximum.getError('invalid') }}</mat-error>
    </mat-form-field>
    <mat-form-field> 
      <mat-label>Capture Type</mat-label>
      <mat-select [formControl]="controls.captureType">
        <mat-option *ngFor="let option of captureTypeOptions" [value]="option.value">
          {{option.label}}
        </mat-option>
      </mat-select>
      <mat-error>{{ controls.captureType.getError('invalid') }}</mat-error>
    </mat-form-field>
  </div>
  <div class="board-preview-wrapper">
    <div class="title">Movement Preview</div>
    <div class="container" #boardContainer></div>
  </div>
</div>

<div class="button-container">
  <button mat-button mat-flat-button color="primary" (click)="submit()">Submit</button>
  <button mat-button mat-dialog-close (click)="goToVariant()">Cancel</button>
</div>