= f.inputs do
  = f.input :passable_range_effect_type,
    collection: effect_types,
    include_blank: false,
    input_html: {'data-dependent' => 'passable_range_effect_type'},
    label: 'What pieces can range capture through/over this terrain?'

  %div{'data-dependency' => 'passable_range_effect_type', 'data-value-in' => ['include', 'exclude']}
    = f.input :passable_range_effect_piece_type_ids,
      as: :check_boxes,
      collection: piece_types_with_range_capture(f.object.variant),
      label: false
