%div{'data-dependency' => 'passable_movement_effect_type', 'data-value-in' => ['all', 'include', 'exclude']}
  = f.inputs do
    = f.input :stops_movement_effect_type,
      collection: effect_types,
      include_blank: false,
      input_html: {'data-dependent' => 'stops_movement_effect_type'},
      label: 'What pieces are stopped when moving through/over this terrain?'

    %div{'data-dependency' => 'stops_movement_effect_type', 'data-value-in' => ['include', 'exclude']}
      = f.input :stops_movement_effect_piece_type_ids,
        as: :check_boxes,
        collection: piece_types(f.object.variant),
        label: false
