$total-color: #a2a0a0;
.info {
  margin-bottom: 20px;
  font-style: italic;
}

.mat-checkbox {
  margin-bottom: 20px;
}

table {
  width: 100%;

  tr {
    height: 30px;
  }

  th,
  td {
    text-align: center;
    padding: 10px;
    font-size: 16px;
  }

  td.total {
    background-color: $total-color;
  }
}
