:host {
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  display: block;
  background-color: white;
}

.body {
  height: 45vh;
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.messages-list {
  height: calc(100% - 56px);
  border-bottom: 1px solid black;
  padding: 2px;
  overflow: auto;
  &.long {
    height: calc(100% - 20px);
    border-bottom: 0;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 2px;
  height: 20px;
  width: 60px;

  &.open {
    border-bottom: 1px solid black;
    width: 50vw;
    justify-content: flex-start;
  }
}

.user {
  color: black;
  &.current-user {
    color: #0000ff;
  }
}

.input {
  height: 56px;
  overflow: hidden;

  form {
    display: flex;
  }

  mat-form-field {
    width: calc(100% - 48px);

    .mat-mdc-form-field-subscript-wrapper {
      height: 0;
    }
  }

  button {
    margin-top: 4px;
  }
}
