= content_for :modal do
  .modal.support-types
    .modal-dialog
      .modal-content
        .modal-body
          %button.close(data-dismiss="modal") ×

          %h1 Support Types

          %ul.types
            %li
              .title None
              .description Pieces cannot support each other during attacks

            %li
              .title Binary
              .description Two pieces of rank x are equivalent to one of rank x + 1

              %ul.examples
                %li rank 1 + rank 1 = rank 2
                %li rank 2 + rank 2 = rank 3
                %li rank 1 + rank 1 + rank 2 + rank 3 = rank 4

            %li
              .title Sum
              .description Two pieces of rank x and y are equivalent to one of rank x + y

              %ul.examples
                %li rank 1 + rank 1 = rank 2
                %li rank 1 + rank 2 = rank 3
                %li rank 1 + rank 1 + rank 2 + rank 3 = rank 7
