@import compass/css3/box-sizing
@import compass/utilities/general/clearfix

$header-height: 40px

.header
  position: fixed
  top: 0
  left: 0
  right: 0
  height: $header-height
  background-color: #353839
  z-index: 2
  +box-sizing(border-box)
  +clearfix

  ul
    height: 100%
    +box-sizing(border-box)

    li
      color: #F3EFDF
      padding: 10px
      text-align: center
      float: left
      height: 100%
      +box-sizing(border-box)

      &.logo
        width: 225px
        text-align: left
        font-size: 24px
        padding: 5px
        border-right: none
        a
          text-decoration: none

    a
      color: #F3EFDF


  .left
    float: left
    li
      border-right: 1px solid #555

  .right
    float: right
    li
      border-left: 1px solid #555

      &:first-child
        border-left: none

.content-with-navigation
  padding-top: $header-height
  width: 100%
  +box-sizing(border-box)

.content
  padding: 10px
  width: 100%
  +box-sizing(border-box)

  section.centered
    margin: 0 auto
    width: 800px

    table
      width: 100%
