@import compass/css3/box-sizing
@import compass/css3/transition
@import compass/utilities/general/clearfix
@import mixins/elements

$status-height: 30px
$status-margin: 10px
$player-height: 30px
$help-height: 150px
$help-margin: 5px
$input-height: 24px
$input-margin: 5px

body.play
  overflow: hidden

  .content
    padding-top: 50px
    height: 100%

section.play
  height: 100%

  .game
    height: 100%
    width: 100%
    display: none

  .board-wrapper
    +box-sizing(border-box)
    float: left
    height: 100%
    width: 75%
    position: relative

  .status
    position: absolute
    top: 0
    left: 0
    right: 0
    height: $status-height
    padding: 2px
    text-align: center
    font-size: 24px

    &.green
      background-color: #ccdfcd
    &.yellow
      background-color: #f7f1d3

  .top-player
    +overlay($top: $status-height + $status-margin, $bottom: auto)

  .bottom-player
    +overlay($top: auto, $bottom: 0)

  .top-player, .bottom-player
    height: $player-height
    text-align: center
    line-height: 30px
    font-size: 20px

  .board
    +overlay($top: $status-height + $status-margin + $player-height, $bottom: $player-height)
    text-align: center

    .kineticjs-content
      text-align: left

  .aside
    +box-sizing(border-box)
    float: right
    width: 24%
    height: 100%
    position: relative

    .boneyard
      background-color: #f1f1f1
      margin-bottom: 20px
      padding: 2px 5px

      .shadow
        color: #ccc
        font-size: 14px

      .alabaster, .onyx
        min-height: 34px
        padding: 2px 0

      .alabaster
        border-bottom: 1px #888 dashed
        padding-bottom: 2px

      .onyx
        padding-top: 2px

      img
        width: 30px
        height: 30px

    .chat
      +overlay(50%, 5px, 5px, 5px)
      +box-sizing(border-box)
      background-color: #eee

      $input-margin: 5px

      .messages
        +overlay($bottom: 35px)
        padding: 5px 10px

        +box-sizing(border-box)
        overflow: scroll

        [data-username=server]
          .username
            color: blue

        .username
          margin-left: 10px
          font-family: Verdana, Geneva, sans-serif
          font-size: 12px
          text-transform: uppercase

        .message
          background-color: #F0F0F0
          border-radius: 10px

        .disconnect
          color: red

        .connect
          color: green

      input
        +overlay(auto, 2%, 6px, 2%)
        width: 96%
        height: 24px
        padding: 2px 5px
        +box-sizing(border-box)
        border-radius: 5px
        border: 1px solid #CCC

    ul.rule-list
      > li
        margin-bottom: 30px

      .type
        +clearfix

        > *
          float: left

        .name-and-count
          height: 50px
          margin-right: 25px
          display: table-cell
          vertical-align: middle

      .rules
        ul
          list-style-type: disc
          margin-top: 5px
          margin-left: 20px

  .challenges
    margin: 0 auto
    display: none

    .title
      font-weight: bold
      margin-bottom: 10px

    .new
      margin-bottom: 10px

      ul
        list-style: none
        padding: 0
        margin: 0

        li
          padding: 0 10px 5px 0

.modal.review
  .message
    font-size: 20px

  .instructions
    margin: 20px 0
    padding-bottom: 20px
    border-bottom: 1px solid #ccc

  .variant
    margin-left: 60px
    text-decoration: underline

  li
    margin-bottom: 10px
    +clearfix

  label
    text-align: left
    width: 60px

  .rating
    float: left

  textarea
    width: calc(100% - 60px)

  fieldset.actions
    border: none
    margin-top: 0

    ol
      margin-left: 60px
