@import compass/css3/box-sizing

section.play
  height: 100%

  .board
    float: left
    width: 75%
    height: 100%
    text-align: center

    .kineticjs-content
      text-align: left

  .control
    float: right
    width: 25%
    height: 100%
    +box-sizing(border-box)

    .challenges
      margin: 0 auto
      display: none

      .title
        font-weight: bold
        margin-bottom: 10px

      .new
        margin-bottom: 10px

        ul
          list-style: none
          padding: 0
          margin: 0

          li
            padding: 0 10px 5px 0

    .game
      height: 100%
      display: none

      .state
        height: 30px
        padding: 5px
        margin-bottom: 10px
        border: 1px solid blue
        +box-sizing(border-box)

      .actions
        height: 30px
        padding: 5px
        margin-bottom: 10px
        background-color: #ccc
        +box-sizing(border-box)

      .chat
        height: calc(100% - 120px)
        border: 1px solid black

      form
        input
          height: 20px
          width: 100%
          padding: 2px 3px
          margin: 10px 0
          +box-sizing(border-box)
