@import compass/css3/box-sizing
@import compass/utilities/general/clearfix
@import mixins/colors

section.variant
  width: 800px
  margin: 0 auto

  .top-section
    position: relative
    +clearfix

    .title
      float: left

    .rating
      position: absolute
      left: 50%
      top: 15px

    .link
      float: right
      margin-top: 15px

    .description
      clear: both

  .sub-section
    padding: 20px 0
    border-top: $border

    .title
      font-size: 16px
      margin-bottom: 10px
      text-decoration: underline

    table
      td
        vertical-align: top

        &.type-with-count
          width: 120px
        &.actions
          width: 80px

#preview.modal
  top: 10%
  left: 10%
  width: 80%
  height: 80%
  margin: 0

  .modal-dialog, .modal-content
    width: 100%
    height: 100%
    margin: 0
    border: 0

  .modal-header
    height: 50px

  .modal-body
    height: calc(100% - 50px)

    .board
      width: 100%
      height: 100%
      text-align: center

      .kineticjs-content
        text-align: left
