@import compass/utilities/general/clearfix
@import mixins/colors

section.variants, section.variant
  margin: 0 auto
  width: 800px

  table
    width: 100%

section.variant
  width: 800px
  margin: 0 auto

  .sub-section
    padding: 20px 0
    border-top: $border

    .title
      font-size: 16px
      margin-bottom: 10px
      text-decoration: underline

    table
      td
        vertical-align: top

        &.type-with-count
          width: 120px
        &.actions
          width: 80px

#preview.modal
  top: 10%
  left: 10%
  width: 80%
  height: 80%
  margin-left: 0

  .modal-body
    max-height: none
    height: calc(100% - 78px)

    .board
      width: 100%
      height: 100%
      text-align: center

      .kineticjs-content
        text-align: left
