<div mat-dialog-title>New "Rummy" Game</div>
<mat-dialog-content>
  <div class="number-of-discard-piles">
    <div>Number of Discard Piles</div>
    <mat-radio-group [formControl]="controls.numberOfDiscardPiles">
      <mat-radio-button
        *ngFor="let option of numberOfDiscardPileOptions"
        [value]="option"
        >{{ option }}</mat-radio-button
      >
    </mat-radio-group>
  </div>
  <div class="point-threshold">
    <div>Point Threshold</div>
    <mat-radio-group [formControl]="controls.pointThreshold">
      <mat-radio-button
        *ngFor="let option of pointThresholdOptions"
        [value]="option"
        >{{ option }}</mat-radio-button
      >
    </mat-radio-group>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    mat-flat-button
    color="primary"
    (click)="create()"
    cdkFocusInitial
  >
    Create
  </button>
</mat-dialog-actions>
