.mat-toolbar {
  justify-content: space-between;
}

.user-actions {
  display: flex;
  align-items: center;
}

.title {
  color: black;
  text-decoration: none;
}

.left {
  display: flex;
  align-items: center;
}
