<mat-toolbar>
  <div class="left">
    <a routerLink="/home" class="title">Chily Games</a>
    <button
      mat-icon-button
      [matMenuTriggerFor]="rootMenu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #rootMenu="matMenu">
      <button mat-menu-item routerLink="/yaniv/games">Yaniv</button>
      <button mat-menu-item [matMenuTriggerFor]="cyvasseMenu">Cyvasse</button>
    </mat-menu>
    <mat-menu #cyvasseMenu="matMenu">
      <a mat-menu-item routerLink="/cyvasse/variants">Variants</a>
      <a mat-menu-item routerLink="/cyvasse/challenges">Challenges</a>
      <a mat-menu-item routerLink="/cyvasse/games">Games</a>
    </mat-menu>
  </div>

  <div class="right">
    <div class="loading" *ngIf="loading; else actions">
      <mat-spinner></mat-spinner>
    </div>
    <ng-template #actions>
      <div class="user-actions" *ngIf="user; else noUser">
        <span matTooltip="{{user.username}}">{{ user.displayName }}</span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu>
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </div>
      <ng-template #noUser>
        <div class="no-user-actions">
          <a mat-button (click)="showUserLoginForm()">Login</a>
          <a mat-button (click)="showUserRegisterForm()">Register</a>
        </div>
      </ng-template>
    </ng-template>
  </div>
</mat-toolbar>
