$yaniv-color: #9dec79;
$asaf-color: #fd7c7c;
$total-color: #a2a0a0;

table {
  width: 100%;

  tr {
    height: 30px;
  }

  th,
  td {
    text-align: center;
    padding: 10px;
    font-size: 16px;
  }

  td.yaniv {
    background-color: $yaniv-color;
  }

  td.total {
    background-color: $total-color;
  }

  td.asaf {
    background-color: $asaf-color;
  }
}
